.container {
  font-size: .875rem;
  width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;

  h2 {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 0 1rem;
    position: relative;
  }

  .underlineTitle {
    &:after, &_s:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 1440px;
      height: 1px;
      background-color: var(--grey-2);
      margin-top: 1rem;
    }
    &_s:after {
      width: 100%;
    }
  }
}

.flashlight {
  display: none;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}

.row {
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}

.col6 {
  display: flex;
  flex-direction: column;
  flex: 1 1 66.66%;
}

.col3 {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.33%;
  position: relative;
}
