.keyStatsWrapper {
  display: flex;
  flex-wrap: wrap;

  div {
    flex: 0 1 33.333%;

    p {
      margin-bottom: 0.2rem;
    }

    h3 {
      font-size: 2.25rem;
      color: var(--primary);
      margin: 0 0 1rem;
    }
  }
}

.underlineListItem {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.6rem;
  border-bottom: 1px solid;
  padding-bottom: 0.6rem;

  &:last-child {
    border-bottom: none;
  }
}

.topCustomerWrapper {
  display: block;
  margin: 0;
  padding: 0;

  div {
    justify-content: space-between;

    li {
      flex: 2;
      margin-left: 1rem;
    }

    h3 {
      flex: 1;
      font-weight: bold;
      margin: 0;
    }
  }
}

.typicalTeamWrapper {
  div {
    display: flex;
    align-items: center;

    h4 {
      font-weight: bold;
      margin: 0;
      flex: 0 1 5%;
    }

    p {
      flex: 2;
      margin: 0;
    }
  }
}

.competenciesWrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  div {
    flex: 50%;
    margin-bottom: 1rem;

    p {
      margin: 0 0 0.2rem;
    }

    h3 {
      font-size: 2.25rem;
      color: var(--primary);
      margin: 0;
    }
  }
}

.barChartWrapper {
  height: 450px;
}

.pieDiagramWrapper {
  height: 250px;
  width: 600px;
  margin-bottom: 1rem;
  position: relative;

  &:last-child {
    width: 400px;
  }

  &_s {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 250px;
  }
}
