:root {
  font-size: 16px;

  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --grey-1: #f0f2f5;
  --grey-2: #898989;
  --grey-3: #141414;
  --blue-1: #e6f7ff;
  --blue-2: #65b7f3;
  --blue-3: #3c9ae8;
  --blue-4: #177ddc;
  --blue-5: #15395b;
  --blue-6: #112a45;
  --orange-1: #fff7e6;
  --orange-2: #fa8c16;
  --orange-3: #2b1d11;
  --red-1: #ffe6e6;
  --red-2: #e92f2f;
  --red-3: #2c1111;

  /* Light theme (default) */
  --primary: var(--blue-4);
  --primary-medium: var(--blue-3);
  --primary-light: var(--blue-4);
  --accent: var(--orange-2);
  --danger: var(--red-2);
  --bg-main: var(--grey-1);
  --bg-secondary: var(--white);
  --bg-primary: var(--blue-1);
  --bg-primary-light: rgba(230, 247, 255, 0.5); // same color as --bg-primary but with 0.5 opacity
  --bg-accent: var(--orange-1);
  --bg-danger: var(--red-1);
  --text-main: var(--black);
  --button-text: var(--white);
  --scroll-color: #c5c5c5;
  --logo-url: url(../assets/images/logo-for-light.svg);

  /* Dark theme */
  &.dark {
    --primary: var(--blue-4);
    --primary-medium: var(--blue-3);
    --primary-light: var(--blue-2);
    --accent: var(--orange-2);
    --danger: var(--red-2);
    --bg-main: var(--black);
    --bg-secondary: var(--grey-3);
    --bg-primary: var(--blue-6);
    --bg-primary-light: rgba(17, 42, 69, 0.5);
    --bg-accent: var(--orange-3);
    --bg-danger: var(--red-3);
    --text-main: var(--white);
    --button-text: var(--white);
    --scroll-color: #353535;
    --logo-url: url(../assets/images/logo-for-dark.svg);
  }

  /* Borders */
  --border-radius: 8px;

  --primary-button-shadow: 0 0 15px rgba(23, 125, 220, 0.5);
  --accent-button-shadow: 0 0 15px rgba(250, 140, 22, 0.5);
  --danger-button-shadow: 0 0 15px rgba(233, 47, 47, 0.5);
  --input-border: 1px solid var(--grey-2);

  /* Fonts */
  --header-font-family: "Montserrat-Bold";
  --content-font-family: "Montserrat-Regular";
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
