div.vis-tooltip {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: 5;
  background-color: white;
  box-shadow: rgb(174, 174, 174) 0 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: rgb(89, 89, 89);
  font-size: 12px;
  line-height: 12px;
  padding: 12px;
  opacity: 0.95;
}

div.vis-network {
  outline: none;
}
